@model IEnumerable<AMStock.Core.Models.PaymentDTO>

<h4>List of Payments</h4>

<table class="table table-striped table-condensed table-hover ">

    <tr>
        <th>@Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDateString)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.PaymentMethodString)
        </th>

        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.AmountString)
        </th>
        
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.StatusString)
        </th>
       
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethodString)
                </td>
             
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.AmountString)
                </td>
                 <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.StatusString)
                </td>
            </tr>
        }
    </tbody>
</table>