@model AMStock.Web.Models.LoginModel
@{
    if (Request.IsAuthenticated)
    {
        Response.Redirect("/Home");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        Layout = null;
        ViewBag.Title = "Login";
    }

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>AMStock Web Login</title>
    @{Html.RenderPartial("~/Views/Shared/EditorTemplates/Headers.cshtml");}
    @{Html.RenderPartial("~/Views/Shared/EditorTemplates/Styles.cshtml");}
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">

        <form method="post" id="login" class="form-signin" role="form">
            @Html.AntiForgeryToken()
            <div class="alert alert-info fade in @ViewData["RecoveryStatHidden"]">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Recovery Email is sent, check your email...
            </div>

            <h2 class="form-signin-heading">@ViewBag.Title</h2>
           
            @Html.ValidationSummary(true)
            <div class="form-group">
                @*@Html.LabelFor(m => m.UserName, "Your username or email")*@

                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName", @required = "required", @autofocus = "autofocus" })

                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">

                @*@Html.LabelFor(m => m.Password, "Your password")*@

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })

                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-group">

                @*    <div class="checkbox">
                            <label>
                              <input type="checkbox"> Keep me logged in
                            </label>
                          </div>*@
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @*<input type="checkbox" value="remember-me">*@
                    Remember me
                </label>
            </div>
            <div class="form-group">
                @Html.ActionLink("Forget Password?", "ForgotPassword")
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in" />
            </div>

        </form>

    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
